body {
  background-color: #0a192f !important;
  color: #ccd6f6 !important;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.intro {
  font-size: 17px;
  color: rgb(82, 241, 220);
}
.name {
  font-size: 40px;
  color: rgb(207, 238, 234);
  font-weight: 600;
}
.moto {
  font-size: 35px;
  font-weight: 600;
  color: rgb(207, 238, 234);
}
.letter {
  width: 60%;
  font-size: 20px;
  color: rgb(208, 214, 213);
}
/* #mainBtn{
  border: #0a192f;
} */

/* CSS */
#mainBtn {
  --b: 3px;
  --s: 0.45em;
  --color: rgb(207, 238, 234);

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#mainBtn:hover,
#mainBtn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

#mainBtn:active {
  background: var(--color);
  color: #fff;
}
